/* ==========================================================================
   Reach Input
   ========================================================================== */
$bordercolor: #7e8993;
$textcolor: #32373c;
$focuscolor: #007cba;
